@import "tailwindcss";

body {
  background-color: #fafafa;
  color: #333;
  font-family: 'Inter', sans-serif;
}

textarea {
  caret-color: transparent;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.6s ease forwards;
}

/* Add in globals.css if needed */
.perspective-\[1000px\] {
  perspective: 1000px;
}
.transform-style-preserve-3d {
  transform-style: preserve-3d;
}


